    h2 {
        position: relative;
        left: 16%;
    }
    
    table {
        width: 70%;
        margin: auto;
    }
    
    mat-paginator {
        margin: auto;
        width: 69.9%;
    }
    
    .leftDiv {
        width: 70%;
        float: left;
    }
    
    .rightDiv {
        width: 30%;
        float: right;
    }
    
    mat-form-field {
        width: 80%;
        padding: 1%;
    }
    
    input {
        padding: 1%;
        font-size: 14px;
    }
    
    mat-card {
        position: relative;
        top: 70px;
        left: -60px;
        padding: 6%;
        margin: auto;
    }