    table {
        width: 70%;
        margin: auto;
    }
    
    .leftDiv {
        width: 60%;
        float: left;
    }
    
    .rightDiv {
        width: 40%;
        float: right;
    }
    
    mat-form-field {
        width: 80%;
        padding: 1%;
    }
    
    input {
        padding: 1%;
        font-size: 14px;
    }
    
    mat-card {
        padding: 6%;
        margin: auto;
    }