<h2>All Orders</h2>
<table mat-table [dataSource]="orderList" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Order ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="pizzaName">
        <th mat-header-cell *matHeaderCellDef> Pizza Name </th>
        <td mat-cell *matCellDef="let element"> {{element.pizzaName}} </td>
    </ng-container>

    <ng-container matColumnDef="topings">
        <th mat-header-cell *matHeaderCellDef> Toppings</th>
        <td mat-cell *matCellDef="let element"> {{element.topings}} </td>
    </ng-container>

    <ng-container matColumnDef="crustName">
        <th mat-header-cell *matHeaderCellDef> Crust Name</th>
        <td mat-cell *matCellDef="let element"> {{element.crustName}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price.totalPrice}} </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>