

<div class="form-group">
   
    
    <br>

    <Label for="PIZZA-CAT">Choose a Pizza Category</Label>
    <select name="PIZZA-CAT" [(ngModel)]="selectedValue"  (change)="onSelect()" class="form-control">
        <option  *ngFor="let pizza of pizzaCat" [ngValue]="pizza" >{{pizza.name}} </option>
    </select>
    
    
    <br>
   
    <div>
        <Label for="PIZZA-OPTION">Choose a Pizza </Label>
    <select id="PIZZA-OPTION" [(ngModel)]="selectedPizzaName" name="PIZZA-OPTION"   class="form-control">
        <option  *ngFor="let j of selectedValue.pizza"  [ngValue]="j" >{{j}} </option>
    </select>
    
    </div>
    
    <br>
   
    <label for="TOPPINGS">Choose toppings</label>
    <div name="TOPPINGS" class="checkbox"   *ngFor="let toppings of toppingsList">
    <label><input type="checkbox"  value="toppings.name" (change)="onChange($event,toppings.name)">{{toppings.name}}</label>
  </div>

  <br>

  <Label for="CRUST "> Choose a Crust :</Label>
  <select name="CRUST" [(ngModel)]="selectedCrust" class="form-control">
      <option  *ngFor="let crust of crustList">{{crust.name}} </option>
  </select>
  <br>
    
  <button type="submit" class="btn btn-primary" (click)="Add_to_Cart()">Add to cart</button>
  
  <button type="reset" class="btn btn-primary">Reset</button>
</div>




  
